<h1>Reading List</h1>

<h2>Books to Read</h2>

<ul>
    {{#each books}}
        {{#unless was_read}}<li>{{title}}</li>{{/unless}}
    {{/each}}
</ul>

<form action="/api/books/new" method="post" autocomplete="off">
    <label for="new-book-title">Add a book:</label>
    <input type="text" id="new-book-title" name="title" placeholder="Title">
    <input type="submit" value="Submit">
</form>

<h2>Books I've Read</h2>

<ul>
    {{#each books}}
        {{#if was_read}}<li>{{title}}</li>{{/if}}
    {{/each}}
</ul>