<header>
    <h1>Reading List</h1>
</header>

<section id="books-to-read">
    <h2>Books to Read</h2>

    <ul>
        {{#each books}}
            {{#unless was_read}}
                <li>{{title}} <button class="mark-read-button" data-id={{id}}>mark as read</button></li>
            {{/unless}}
        {{/each}}

        <li>
            <form action="/api/books/new" method="post" autocomplete="off">
                {{!-- <label for="new-book-title">Add a book:</label> --}}
                <input type="text" id="new-book-title" name="title" placeholder="Title">
                <input type="submit" id="add-book-button" value="add book">
            </form>
        </li>
    </ul>

</section>

<section id="books-have-read">
    <h2>Books I've Read</h2>

    <ul>
        {{#each books}}
            {{#if was_read}}
                <li>{{title}} <button class="delete-button" data-id={{id}}>delete</button></li>
            {{/if}}
        {{/each}}
    </ul>
</section>

<script>
    $(".mark-read-button").click(event => {
        const id = event.target.dataset.id;
        $.ajax("/api/books/" + id, {
            type: "PUT"
        }).then(() => {
            location.reload();
        });
    });

    $(".delete-button").click(event => {
        const id = event.target.dataset.id;
        $.ajax("/api/books/" + id, {
            type: "DELETE"
        }).then(() => {
            location.reload();
        });
    });
</script>