<h1>Reading List</h1>

<h2>Books to Read</h2>

<ul>
    {{#each books}}
        {{#unless was_read}}<li>{{title}}</li>{{/unless}}
    {{/each}}
</ul>

<h2>Books I've Read</h2>

<ul>
    {{#each books}}
        {{#if was_read}}<li>{{title}}</li>{{/if}}
    {{/each}}
</ul>