/* for styling the page displayed to the client */

body {
    background-image: url("/assets/img/WoodTexture.svg");
    background-size: cover;
    background-color: rgb(170, 80, 29);

    font-size: 16px;
    font-family: 'Raleway', sans-serif;

    padding: 1em;
}

h1, h2 {
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 3rem;
    padding: 0.6rem;
}

header {
    font-size: 3rem;
    
    margin: 0.3rem auto;
    text-align: center;
}

header, #books-to-read, #books-have-read {
    background-color: rgba(255, 255, 255, 0.900);

    max-width: 30rem;

    box-shadow: -0.5px 0.5px 6px rgba(0, 0, 0, 0.5);
}

#books-to-read, #books-have-read {
    margin: 1.6rem auto;
    padding: 0.3rem 0;
}

h2 {
    font-size: 2rem;
    padding: 0.5rem;
}

li {
    line-height: 1.5;
    border-top: 1px solid rgba(94, 187, 230, 0.8);
    padding: 0 0.5rem;
}

.mark-read-button {
    background-color: rgba(94, 187, 230, 0.6);
}

.mark-read-button:hover {
    background-color: rgba(94, 187, 230, 0.82);
}

#add-book-button {
    background-color: rgba(105, 218, 90, 0.6);
}

#add-book-button:hover {
    background-color: rgba(105, 218, 90, 0.88);
}

.delete-button {
    background-color: rgba(240, 84, 84, 0.6);
}

.delete-button:hover {
    background-color: rgba(240, 84, 84, 0.78);
}

.mark-read-button, #add-book-button, .delete-button {
    border-style: none;
}

#new-book-title {
    background-color: rgba(0, 0, 0, 0.01);
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(128, 128, 128);
    border-style: inset;
}